body {
  color: white;
  font-family: "Poppins", "Roboto", sans-serif;
}

/* scrollbar visible but not moving */
::-webkit-scrollbar {
  background: transparent;
}

/* scrollbar visible and moving (horizontally) */
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 10px;
}
